.student-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd; /* Add a border with 1px width and a gray color */
}

.student-table tr  {
  border: 1px solid #ddd; /* Add borders to table header cells and data cells */
  padding: 8px;
  text-align: center;
}

.student-table th {
  background-color: #f2f2f2; /* Gray background for table headers */
}
